<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mukul/IdeaProjects/untitled"><classes>
        <class name="test.rest">
            <methods><include name="testGet"/>
                <include name="testGet_1"/>
                <include name="testToken"/>
                <include name="runcompletebooking"/>
            </methods>
        </class>
        <class name="test.test">
            <methods>
                <include name="buildingTestMethod"/>
                <include name="bookDemo"/>
                <include name="takeScreenShot"/>
                <include name="checkConnection"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>